fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
passlib[bcrypt]
itsdangerous
python-docx
requests
python-dotenv
openpyxl
pandas
psycopg2-binary
reportlab
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client